img {
    width: 30px;
    height: 30px;
}

h2 {
    font-family: "Montserrat Bold";
    color: #657685 !important;
    font-size: 0.9rem !important;
    margin-right: 2px;
}

span {
    font-family: "Montserrat Bold";
    color: #01595C !important;
    font-size: 0.9rem !important;
}

.resume {
    background: white !important;
    border-radius: 8px;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    border-bottom: 1px solid #1516152b;
}

.resumen-numbers {
    font-size: 1.6rem !important;
    padding-left: 5px;
}

.resumen-shape {
    font-family: "Montserrat Regular";
    color: #657685 !important;
    font-size: 0.9rem !important;
    padding-left: 5px;
}

.shape-color-orange {
    background: #FF6B00;
    height: 20px;
    width: 20px;
    border-radius: 7px;
}

.shape-color-yellow {
    background: #F2B600;
    height: 20px;
    width: 20px;
    border-radius: 7px;
}

.resume-white {
    background: #229a8e !important;
    border-radius: 8px;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    border-bottom: 1px solid #1516152b;
}

.resume-white h2,
.resume-white span {
    color: white !important;
    font-size: 0.9rem !important;
    margin-right: 2px;
}

.resume-white .resumen-numbers {
    font-size: 1.6rem !important;
    padding-left: 0px;
}

.white-resumen {
    height: 350px;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    border-bottom: 1px solid rgba(21, 22, 21, 0.168627451);
}

.img-white {
    width: 22px;
    height: 22px;
}


.resume-yellow {
    background: #FDC829 !important;
    border-radius: 8px;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    border-bottom: 1px solid #1516152b;
}

.resume-yellow h2,
.resume-yellow span {
    color: white !important;
    font-size: 0.9rem !important;
    margin-right: 2px;
}

.resume-yellow .resumen-numbers {
    font-size: 1.6rem !important;
    padding-left: 0px;
}

.resume-green {
    background: #01595C !important;
    border-radius: 8px;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    border-bottom: 1px solid #1516152b;
}

.resume-green h2,
.resume-green span {
    color: white !important;
    font-size: 0.9rem !important;
    margin-right: 2px;
}

.resume-green .resumen-numbers {
    font-size: 1.6rem !important;
    padding-left: 0px;
}