<div class="container" fxLayout fxLayoutAlign="center">
  <mat-card fxFlex="100%">
    <div class="row mt-3">
      <div class="col-3">
        <div class="resume p-4">
          <div class="holding mb-4">
            <div class="mb-4">
              <h2>Usuarios Totales</h2>
            </div>
            <div fxLayout>
              <img src="assets/icons/company/Usuario.svg" alt="">
              <div class="content-flex">
                <span class="resumen-numbers">{{ registrados }}</span>
                <span class="color-dark-green">Usuarios registrados</span>
              </div>
            </div>
            <hr>
          </div>
          <div class="Building mb-4">
            <div fxLayout>
              <img src="assets/icons/company/user-green.svg" alt="">
              <div class="content-flex">
                <span class="resumen-numbers-green">{{ activos }}</span>
                <span class="color-green">Usuarios activos</span>
              </div>
            </div>
            <hr>
          </div>
          <div class="Offices mb-2">
            <div fxLayout>
              <img src="assets/icons/company/user-yellow.svg" alt="">
              <div class="content-flex">
                <span class="resumen-numbers-yellow">{{ pausados }}</span>
                <span class="color-yellow">Usuarios pausados</span>
              </div>
            </div>
          </div>
        </div>
        <div class="resume p-4 mt-4">
          <div class="holding mb-4">
            <div class="mb-4">
              <h2>Usuarios logeados</h2>
            </div>
            <div class="row">
              <div class="col-12 mb-3">
                <div fxLayout>
                  <div class="shape-color-orange"></div> <span class="resumen-shape">Logeados</span>
                </div>
              </div>
              <div class="col-12 mb-3">
                <div fxLayout>
                  <div class="shape-color-yellow"></div> <span class="resumen-shape">No Logeados</span>
                </div>
              </div>
            </div>
            <div class="d-canvas p-4 pb-0">
              <canvas #doughnutCanvas1 class="canvas"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="col-9">
        <div class="row">
          <div class="p-4 col-6 pt-0 pb-0">
            <div class="row">
              <div class="resume col-12 p-4">
                <div>
                  <h2>Usuarios por cargo</h2>
                </div>
                <div>
                  <canvas #barCanvas class="canvas"></canvas>
                </div>
              </div>
            </div>
          </div>
          <div class="p-4 col-6 pt-0 pb-0">
            <div class="row">
              <div class="resume col-12 p-4">
                <div>
                  <h2>Usuarios por sucursal</h2>
                </div>
                <div>
                  <canvas #barCanvas2 class="canvas"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="resume p-4 mt-4">
          <div class="row">
            <div class="col-12">
              <div>
                <h2>Usabilidad diaria</h2>
              </div>
              <div>
                <canvas #areaCanvas class="canvas"></canvas>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </mat-card>
</div>

<!-- <nucleo-title title="Usuarios" class="title">
  <button type="button" mat-raised-button color="primary" class="mr-5">
    <span>Carga masiva</span>
  </button>
  <button type="button" mat-raised-button color="primary">
    <span>Crear usuario</span>
  </button>
</nucleo-title>

<mat-tab-group>
  <mat-tab label="Usuarios"><nucleo-list-user></nucleo-list-user></mat-tab>
  <mat-tab label="Dashboard">

  </mat-tab>
  <mat-tab label="Reportes"></mat-tab>
  <mat-tab label="Super administrador"></mat-tab>
</mat-tab-group> -->