.btn-action {
    background: #01595C;
    border-radius: 4px;
    height: 30px;
    width: 30px;
    font-size: 6px !important;
    transform: scale(0.7);
}

h2 {
    font-family: "Montserrat Bold";
    color: #01595C !important;
    font-size: 1.25rem !important;
    margin-left: 2px;
}

