.toolbar {
  background-color: white !important;
  height: 100px !important;
  padding: 0 26px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.info h2 {
  font-size: 24px;
  color: rgb(30, 41, 49);
  margin: 0 0 0 16px;
  padding: 0;
  font-weight: 600;
  line-height: 80px;
}

.info mat-icon {
  font-size: 40px;
  width: 40px;
  height: 40px;
}

h2 {
  font-family: "Montserrat SemiBold";
  color: #01595C !important;
  font-size: 2rem !important;
}
