<!-- <div class="col-12" id="container">
  <div class="col-md-4 offset-md-4 col-md-4 offset-md-4 col-sm-12">
    <div class="logo">
      <img src="assets/logo/logo.svg" />
    </div>
    <div class="card fat">
      <div class="card-body">
        <h1 class="card-title">Inicio de sesión</h1>
        <h2 class="card-sub-title">
          Para iniciar sesión ingresa tu correo y <br />
          la contraseña entregada por tu empleador.
        </h2>
        <form method="POST" class="my-login-validation" novalidate="">
          <div class="form-group">
            <label for="email">Correo electrónico</label>
            <input id="email" type="email" class="form-control" name="email" value="" required="" autofocus="" />
            <div class="invalid-feedback"></div>
          </div>

          <div class="form-group">
            <label for="password">Contraseña</label>
            <div style="position: relative" id="eye-password-0">
              <input id="password" type="password" class="form-control" name="password" required="" data-eye=""
                style="padding-right: 60px" />
              <div class="invalid-feedback">Password is required</div>
              <input type="hidden" id="passeye-0" />
               <div class="btn btn-primary btn-sm" id="passeye-toggle-0"
                                    style="position: absolute; right: 10px; top: 7px; padding: 2px 7px; font-size: 12px; cursor: pointer;">
                                    Mostrar</div> 
            </div>
            <div class="invalid-feedback">Password is required</div>
          </div>

          <div class="form-group">
            <div class="custom-checkbox custom-control">
              <label for="remember" class="custom-control-label">Recuperar contraseña</label>
            </div>
          </div>

          <div class="form-group m-0">
            <button type="submit" class="btn btn-primary btn-login col-12">
              INICIAR SESIÓN
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>


</div> -->


<div class="container-app">
  <!-- <nucleo-form-login></nucleo-form-login> -->
</div>

  <!-- <nucleo-form-login></nucleo-form-login> -->