<div class="col-12" id="container">
  <div class="col-md-4 offset-md-4 col-md-4 offset-md-4 col-sm-12">
    <div class="logo">
      <img src="assets/logo/logo.svg" />
    </div>
    <div class="card fat">
      <div class="card-body">
        <h1 class="card-title">Inicio de sesión</h1>
        <h2 class="card-sub-title">
          Para iniciar sesión ingresa tu correo y <br />
          la contraseña entregada por tu empleador.
        </h2>
        <form [formGroup]="users">
          <div class="form-group">
            <label for="email">Correo electrónico</label>
            <input formControlName="usuario" class="form-control" [ngClass]="{'is-invalid': submited && !users.controls['usuario'].valid }" />
            <div class="invalid-feedback">Ingrese un correo</div>
          </div>

          <div class="form-group">
            <label for="password">Contraseña</label>
            <div style="position: relative" id="eye-password-0">
              <input formControlName="clave"class="form-control" style="padding-right: 60px" [ngClass]="{'is-invalid': submited && !users.controls['clave'].valid }" />
              <div class="invalid-feedback">Ingrese una contraseña</div>
             
            </div>
          </div>

          <div class="form-group">
            <div class="custom-checkbox custom-control">
              <label for="remember" class="custom-control-label">Recuperar contraseña</label>
            </div>
          </div>

          <div class="form-group m-0">
            <button type="button" class="btn btn-primary btn-login col-12" (click)="validar()">
              INICIAR SESIÓN
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>


</div>
